In [1]:
kilometers = float(input("Enter value in kilometers: "))

conv_fac = 0.621371

miles = kilometers * conv_fac
print('%0.2f kilometers is equal to %0.2f miles' %(kilometers,miles))

Enter value in kilometers: 12
12.00 kilometers is equal to 7.46 miles

In [5]:
celsius = float(input("Enter the value celcius  "))
fahrenheit = (celsius * 1.8) + 32
print('%0.1f degree Celsius is equal to %0.1f degree Fahrenheit' %(celsius,fahrenheit))

Enter the value celcius  45
45.0 degree Celsius is equal to 113.0 degree Fahrenheit

In [8]:
num = float(input("Enter a number: "))
if num > 0:
   print("Positive number")
elif num == 0:
   print("Zero")
else:
   print("Negative number")

Enter a number: -1
Negative number

In [9]:
num = int(input("Enter a number: "))
if (num % 2) == 0:
   print("{0} is Even".format(num))
else:
   print("{0} is Odd".format(num))

Enter a number: 13
13 is Odd

In [14]:
year = int(input("Which year do you want cheack "))
if year % 4 == 0:
    if year % 100 == 0:
        if year % 400 == 0:
            print("It is a leap year")
        else:
            print("It is a not leap year")
    else:
        print("It is a leap year")
else:
    print("It is a not leap year")

Which year do you want cheack 130
It is a not leap year

In [15]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))

if (num1 >= num2) and (num1 >= num3):
   largest = num1
elif (num2 >= num1) and (num2 >= num3):
   largest = num2
else:
   largest = num3

print("The largest number is", largest)

Enter first number: 12
Enter second number: 45
Enter third number: 6
The largest number is 45.0

In [27]:

num = int(input("Enter a number: "))
flag = False
if num > 1:
    for i in range(2, num):
        if (num % i) == 0: 
            flag = True
            
            break
if flag :
    print(num, "is not a prime number")
else:
    print(num, "is a prime number")

Enter a number: 23
23 is a prime number

In [31]:
lower = int(input("Enter lower range: "))  
upper = int(input("Enter upper range: "))  
  
for num in range(lower,upper + 1):  
   if num > 1:  
       for i in range(2,num):  
           if (num % i) == 0:  
               break  
       else:  
           print(num)

Enter lower range: 100
Enter upper range: 170
101
103
107
109
113
127
131
137
139
149
151
157
163
167

In [32]:
num = int(input("Enter a number: "))

factorial = 1

if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

Enter a number: 14
The factorial of 14 is 87178291200

In [34]:
number = int(input ("Enter the number of which the user wants to print the multiplication table: "))

print ("The Multiplication Table of: ", number)

for count in range(1, 11):      
   print (number, 'X', count, '=', number * count)

Enter the number of which the user wants to print the multiplication table: 15
The Multiplication Table of:  15
15 X 1 = 15
15 X 2 = 30
15 X 3 = 45
15 X 4 = 60
15 X 5 = 75
15 X 6 = 90
15 X 7 = 105
15 X 8 = 120
15 X 9 = 135
15 X 10 = 150