In [1]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [2]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [4]:
fruits = ["apple", "banana", "cherry","Mango"]

for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry
Mango

In [18]:
for val in "string":
    if val == "i":
        break
    print(val)

print("The end")

s
t
r
The end

In [5]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [19]:

for val in "string":
    if val == "i":
        continue
    print(val)

print("The end")

s
t
r
n
g
The end

In [7]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [10]:
for x in range(2, 30, 3 ):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [11]:
for x in range(6):
  if x == 3: break
  print(x)

else:
  print("Finally finished!")

0
1
2

In [12]:
numbers = [6, 5, 3, 8, 4, 2, 5, 4, 11]
sum = 0

for val in numbers:
    sum = sum+val

print("The sum is", sum)

The sum is 48

In [15]:
student_name = 'Jules'

marks = {'James': 90, 'Jules': 55, 'Arthur': 77}

for student in marks:
    if student == student_name:
        print(marks[student])
        break
else:
    print('No entry with that name found.')

55

In [16]:
n = 10

sum = 0
i = 1

while i <= n:
    sum = sum + i
    i = i+1    
print("The sum is", sum)

The sum is 55

In [17]:
counter = 0

while counter < 3:
    print("Inside loop")
    counter = counter + 1
else:
    print("Inside else")

Inside loop
Inside loop
Inside loop
Inside else